<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 60px">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ensmallen!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div class="container well">
    <div class="row-fluid">
        <div class="panel panel-default">
            <div class="panel-body text-left">
                {% if short_url %}
                <div>
                    <strong>Success!</strong> Your shortened URL is <a href="//{{short_url}}">
                    {{short_url}}</a><br/></strong>
                    {% if title %}
                    <h3>{{title}}</h3>
                    <em>{{description}}</em><br/>
                    <img src="{{image}}" height="100px"/>
                    {% endif %}
                </div>
                {% endif %}
                <h3>Ensmallen a URL</h3>
                <form method="post" class="navbar-form" action="">
                    <div class="form-group">
                        <input type="text" id="short_name" name="short_name" class="form-control input-lg"
                               placeholder="short name"/><br/>(Avoid these characters: <span
                            style="font-family:monospace;">/ ? &amp;</span> )<br/><br/>
                        <textarea rows="5" cols="80" id="url" name="url" class="form-control input-lg"
                                  placeholder="long URL" style="font-family:monospace;"></textarea><br/><br/>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="interpolate_url_params" name="interpolate_url_params"
                                       class="form-control" placeholder="long URL"/> Interpolate URL parameters?</label><br/>
                            (This will take <span style="font-family:monospace;">short_url/param0/param1</span> and
                            replace variables named <span style="font-family:monospace;">%%0%%</span>, <span
                                style="font-family:monospace;">%%1%%</span> etc. in the URL above.)
                        </div>
                        <br/><br/>
                        <button type="submit" class="btn btn-lg btn-info">Submit</button>
                    </div>
                </form>
                {% if links %}
                <h3>Your links</h3>
                <table class="table table-striped table-condensed">
                    <thead class="thead-inverse">
                    <tr>
                        <th>name</th>
                        <th>clicks</th>
                        <th>image</th>
                        <th>description</th>
                        <th>url</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                    <tr>
                        <td>{{ link.short_name }}</td>
                        <td>{{ link.clicks }}</td>
                        <td>{% if link.image %}<img src="{{ link.image }}" width="150"/>{% endif %}</td>
                        <td><strong>{{ link.title }}</strong> &mdash; {{ link.description }}</td>
                        <td><a href="{{ link.url }}">link</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
